/* -------------------- GENERAL -------------------- */
:root {
    --noir: #010b0f;
    --bleu-fonce : #042a3a;
    --turquoise-fonce : #1e4856;
    --turquoise-pale: #6994a1;
    --bleu-pale: #bbdee9;
    --blanc: #fafbfb;
}
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

/* -------------------- SECTION HERO -------------------- */

#section-hero {
    background-image: url(./assets/medias/CM-Enfant-lumiere-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bleu-fonce);
    color: var(--blanc);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-texte {
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 100%;
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.hero-texte {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
        text-align: center;
}
h1 {
    color: var(--blanc);
    font-size: 4em;
    text-transform: uppercase;
}

h2 {
    color: var(--bleu-pale);
}

.hero-texte-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* -------------------- SECTION MAP -------------------- */

